body, html {
    background-color:#283845;
    height: 100%;
    color: #b8b08d 
}

.pageHeaders {
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    color: #b8b08d;
}

.secondaryHeader {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    color: #b8b08d;
}

.tetriaryHeader {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #b8b08d;
}

.verticalRule {
    height: 100%;
}