body, html {
    background-color:#B8B08D;
    height: 100%;
    color: #202C39 
}

.pageHeaders {
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    color: #202C39;
}

.secondaryHeader {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    color: #202C39;
}

.tetriaryHeader {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #202C39;
}

.verticalRule {
    height: 100%;
}