body, html {
    background-color:#283845;
    height: 100%;
    color: #F2D492
}

.pageHeaders {
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    color: #F2D492;
}

.secondaryHeader {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    color: #F2D492;
}

.tetriaryHeader {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #F2D492;
}

.verticalRule {
    height: 100%;
}

.footer, .navbar {
    width: 100%;
    height: 3rem;
    background-color: #f29559;
}

