.image {
    float: left;
    margin: 5px;
    margin-bottom: 2px;
    max-width: 10%;
}

.infotext {
    font-size: large;
    color: #202C39;
    margin: 5px
}

.moreInfo{
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}

.infoList {
    background-color: #B8B08D;
    color: #202C39;
}

