.cardPicture {
    max-width: 15%;
}

.singleCard {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin: 10px;
    background-color: #F2D492
}

.listItem {
    background-color: #F2D492;
    color: #202C39
}

.cardTitle {
    justify-content: center;
    text-align: center;
    color: #202C39;
    font-size: 20px;
}

.cardDescription {
    color: #202C39;
    margin: 3px;
    text-align: center;
    font-size: 15px;
}

.cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    max-width: 50px;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

