.java {
    max-width: 23%;
    
}

.languages {
    margin-top: 20px;
    justify-content: center;
}

.java:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}

.collapsable {
    min-height: 120px;
}

.cards {
    width: 300px
}