.navigation {
    background-color: #F29559;
    color: #202C39;
}

.inactive {
    color: #202C39;
}

.inactive:hover {
    color: #283845
}

.activeTab {
    background-color: #283845;
    color:#f2d492 !important
}

.active:focus {
    color: #f2d492 !important;
}
